<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Het Huis van Pollo,<br />
        een leskist over verlies, afscheid en verdriet</h2>
        <!-- <hr class="star-light"> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Wat zit er in de leskist?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          <table class="table" style="font-size: 20px;">
            <tr>
              <td>
                Boek
              </td>
              <td>
                Pollo leert afscheid nemen<br />
                ~over verlies en veerkracht –<br />
                verhalen die herkenning en gesprek bieden.<br />
                Jaarlijks inzetbaar als themaweek
              </td>
            </tr>
            <tr>
              <td>
                Boek
              </td>
              <td>
                Eerste hulp bij afscheid nemen<br />
                ~over missen, moed en verder gaan –<br />
                praktisch werkboek met vragen en opdrachten.<br />
                Ad hoc inzetbaar als het nodig is
              </td>
            </tr>
            <tr>
              <td>
                Boek
              </td>
              <td>
                Ander afscheid (nog in bewerking)<br />
                Verhalen over andere vormen van verlies, afscheid en verdriet
              </td>
            </tr>
            <tr>
              <td>
                Materialen
              </td>
              <td>
                Miniatuurfiguren, werkvormen, creatieve suggesties,<br />
                USB-stick met extra’s en handleiding voor begeleiders.
              </td>
            </tr>
          </table>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>
          Wat levert het op?
        </h4>
        <p>
          Herkenning via verhalen<br />
          Woorden en vormen voor emoties<br />
          Creatieve manieren om te praten en te doen<br />
          Een veilige plek om herinneringen te delen en te koesteren<br />
          Afscheid nemen kun je leren
        </p>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
