<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <!-- <img class="img-responsive" src="img/profile.png" alt="profile-pic" /> -->
      <div class="col-lg-8 col-lg-offset-2">
        <!-- <span class="name">Pollo<!- -{{ site.title }}- -></span> -->
        <!-- <hr class="star-light" /> -->
        <!-- <span class="skills">{{ site.skills }}</span> -->
        <p>De dood hoort bij het leven. Ook bij het leven van kinderen.<br />
        Daarover praten is niet altijd vanzelfsprekend en zeker niet gemakkelijk.<br />
        Maar afscheid nemen kun je leren.</p>
        <p>Het Huis van Pollo is een educatief project voor scholen,<br />
        ontwikkeld om verlies en rouw bij kinderen bespreekbaar te maken.<br /></p>
        <p>
          <img width="100%" src="img/pollo2.jpeg" class="img-responsive"></img>
        </p>
      </div>
    </div>
  </div>
</header>
